<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="search-chef">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      Apply Filters
    </ion-title>

    <ion-title slot="end">
      Reset
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upperBox">
    <h3>Meal Type</h3>
    <ion-list>
      <ion-list>
        <ion-radio-group name="auto" value="tesla">
          <ion-item>
            <ion-label>Breakfast</ion-label>
            <ion-radio value="breakfast"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Dinner</ion-label>
            <ion-radio value="dinner"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-list>
  </div>
</ion-content>